<!DOCTYPE html>
<html lang="en">
<head>
    <title>Asset View</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    {{ script|safe }}
</head>
<body>
<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col-md-4 col-sm-4 col-xs-4 bg-primary h3" align="center"> MTM & MTR retriever</div>
        <div class="col-md-8 col-sm-8 cols-xs-4 bg-primary h3" align="center"> Graph result</div>
    </div> <!-- Title row -->
    <div class="row"><br/></div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <form action="" method="POST" role="form" class="form-group">
                <div class="form-group">
                    {% for field in form %}
                    {% if field.type == 'SelectField' %}
                    {{ field.label(class_="form-control") }}
                    {{ field(class_="form-control") }}
                    {% endif %}
                    <br/><br/>
                    {% endfor %}

                </div>

                <div class="form-group">
                    {% for field in form %}
                    {% if field.type == 'SubmitField' %}
                    {{ field(class_="btn btn-primary") }}
                    {% endif %}
                    {% endfor %}
                </div>
                <br/>

            </form>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            {{ div|safe }}
        </div>
    </div>
</div>

</body>


<script type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        bu: $('#select_bu'),
        book: $('#select_book')
    };

    // call to update on load
    updateBook();

    // function to call XHR and update county dropdown
    function updateBook()
        {
            var send = {bu: dropdown.bu.val()};
            dropdown.book.attr('disabled', 'disabled');
            dropdown.book.empty();
            $.getJSON("{{ url_for('pick_book') }}", send, function(data) {
                                $(data).each(function(item,couple)
                                {
                                    dropdown.book.append($('<option>', {value: couple.book , text: couple.book}));
                                });
                            }
                      );
             dropdown.book.removeAttr('disabled');
        }

    // event listener to state dropdown change
    dropdown.bu.on('change', function() {
        updateBook();
    });

});






</script>
</html>