<!DOCTYPE html>
<html>

<head>
    <title>MtM and MtR</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('.active[data-toggle="tabs"]').each(function(e) {
            var $this = $(this),
                loadurl = $this.attr('href'),
                targ = $this.attr('data-target');

            $.get(loadurl, function(data) {
                $(targ).html(data);
            });

            $this.tab('show');
            return false;
        });

        $('[data-toggle="tabs"]').click(function(e) {
            var $this = $(this),
                loadurl = $this.attr('href'),
                targ = $this.attr('data-target');

            $.get(loadurl, function(data) {
            $(targ).html(data);
            });

            $this.tab('show');
            return false;
        });
    });
    </script>

    {{ the_script|safe }}
    {% for script in scriptc %}
    {{ script|safe }}
    {% endfor %}

</head>
<body>

<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col-md-4 col-sm-4 col-xs-4 bg-primary h3" align="center"> MTM & MTR retriever</div>
        <div class="col-md-8 col-sm-8 cols-xs-4 bg-primary h3" align="center"> Graph result</div>
    </div> <!-- Title row -->
    <div class="row"><br/></div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <form action="" method="POST" role="form" class="form-group">
                <div class="form-group">
                    {% for field in form %}
                    {% if field.type == 'SelectField' %}
                    {{ field.label(class_="form-control") }}
                    {{ field(class_="form-control") }}
                    {% endif %}
                    {% endfor %}
                </div>
                <p class="lead">Filter :</p>

                {% for field in form %}
                <div class="controls">
                    {% if field.type == 'BooleanField' %}
                    {{ field }}
                    {{ field.label(align="right") }}
                    {% endif %}
                </div>

                {% endfor %}
                <br/>
                <div class="form-group">
                    {% for field in form %}
                    {% if field.type == 'FloatField' %}
                    {{ field.label }}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                </div>
                <br/>
                <div class="form-group">
                    {% for field in form %}
                    {% if field.type == 'SubmitField' %}
                    {{ field(class_="btn btn-primary") }}
                    {% endif %}
                    {% endfor %}
                </div>
                <br/>
            </form>
            <hr style="color:#99CC99">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <ul class="nav nav-pills" data-tabs="tabs">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Overview</a>
                </li>
                {% for listc in listc %}
                <li>
                    <a href="#{{ listc }}" data-toggle="tab">{{ listc }}</a>
                </li>
                {% endfor %}
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="1a">
                    {{ the_div|safe }}
                </div>
                {% for listc in listc %}
                <div class="tab-pane" id="{{ listc }}">
                    {{ divc[loop.index0]|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div> <!-- Form + Graph row -->
    <div class="row"> <!-- Table row -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% for table in tables %}
            <div align="center">
                <h1>{{titles[loop.index]}}</h1>
                {{ table|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>

