<!DOCTYPE html>
<html>


<head>
    <title>Prices</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
</head>


<body>
<div class="container">
        <div class="row bg-primary">
        <div class="col-md-12 col-sm-12 bg-primary h3"> Prices curves </div>
        </div> <!-- Title row -->
    <div class="row">
        {% for plotdiv in DivGroup %}
        <div class="col-md-6 col-sm-6">
            {{ plotdiv|safe }}
        <br/><br/>
        </div>
        {% endfor %}
</div>
</body>

{% for plotscript in ScriptGroup %}
{{ plotscript|safe }}
{% endfor %}

</html>