<html>
<head>

    <script>
function loadit(element)
{
	var container = document.getElementById('container');
	container.src=element.rel;

	var tabs=document.getElementById('tabs').getElementsByTagName('a');
	for (var i=0; i < tabs.length; i++)
	{
		if(tabs[i].rel == element.rel)
			tabs[i].className="active";
		else
			tabs[i].className="";
	}
}
function startit()
{
	var tabs=document.getElementById('tabs').getElementsByTagName("a");
	var container = document.getElementById('container');
	container.src = tabs[0].rel;
}

window.onload=startit;

    </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">

</head>
<div class="container">
    <div class="row">
        <div class="panel with-nav-tabs">
            <div class="panel-heading">
                <ul class="nav nav-tabs" id="tabs">
                    <li>
                        <a id="tabs" rel="{{ url_for('chart') }}" onClick="loadit(this)" data-toggle="tab"> MTM & MTR </a>
                    </li>
                    <li>
                        <a id="tabs" rel="{{ url_for('prices') }}" onClick="loadit(this)" data-toggle="tab"> Prices </a>
                    </li>
                    <li>
                        <a id="tabs" rel="{{ url_for('asset') }}" onClick="loadit(this)" data-toggle="tab"> Asset </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="frame" class="col-md-12">
            <iframe id="container" frameborder="0" style="width: 100%; height: 100%; border:2px gray;">
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
            </iframe>
        </div>
    </div>
</div>
</html>


<!-- href="{{ url_for('chart') }}" -->