
<head>
<style>
    table#id710708 tr:hover 
    {
    background-color : #f5f5f5;
    }
    td,th, table 
    {
    text-align : center;
    border: 1px solid black;
    border-collapse: collapse;
    }
    th 
    {
    font-weight: 600;
    color: darkblue;
    padding: 5px;
    }
</style>
</head>

<h1>Latest exposure of PAM assets per division :</h1>
<table id=id710708  border="3" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Year</th>
      <th>2017</th>
      <th>2018</th>
      <th>2019</th>
      <th>2020</th>
      <th>2021</th>
      <th>2022</th>
      <th>2023</th>
      <th>2024</th>
    </tr>
    <tr>
      <th>BU</th>
      <th>Commodity</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="4" valign="top">BNL</th>
      <th>Power BE</th>
      <td>3.3</td>
      <td>15.9</td>
      <td>24.5</td>
      <td>37.2</td>
      <td>36.5</td>
      <td>-0.7</td>
      <td>-0.7</td>
      <td>-0.3</td>
    </tr>
    <tr>
      <th>Power DE</th>
      <td>-0.1</td>
      <td>-2.0</td>
      <td>-0.2</td>
      <td></td>
      <td>-0.1</td>
      <td>-0.1</td>
      <td>-0.1</td>
      <td>-0.0</td>
    </tr>
    <tr>
      <th>Power FR</th>
      <td>-0.2</td>
      <td>-3.5</td>
      <td>2.4</td>
      <td>5.7</td>
      <td>5.2</td>
      <td>5.2</td>
      <td>5.2</td>
      <td>2.2</td>
    </tr>
    <tr>
      <th>Power NL</th>
      <td>-0.6</td>
      <td>-4.9</td>
      <td>-0.7</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">NECST</th>
      <th>Coal</th>
      <td>0.0</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>0.5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Power DE</th>
      <td>-0.0</td>
      <td>-0.0</td>
      <td>-0.1</td>
      <td>-0.2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="9" valign="top">TG</th>
      <th>Coal</th>
      <td>-4.6</td>
      <td>-9.8</td>
      <td>-15.6</td>
      <td>-23.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Gas BE</th>
      <td>-1.3</td>
      <td>-2.5</td>
      <td>-3.5</td>
      <td>-2.9</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Gas FR</th>
      <td>-7.2</td>
      <td>-12.2</td>
      <td>-11.0</td>
      <td>-12.8</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Gas NL</th>
      <td>-9.3</td>
      <td>-8.7</td>
      <td>-5.0</td>
      <td>-6.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Power BE</th>
      <td>0.4</td>
      <td>2.3</td>
      <td>3.2</td>
      <td>2.6</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Power CH</th>
      <td>0.0</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>0.1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Power DE</th>
      <td>1.1</td>
      <td>3.7</td>
      <td>4.2</td>
      <td>5.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Power FR</th>
      <td>3.6</td>
      <td>6.2</td>
      <td>5.6</td>
      <td>6.5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Power NL</th>
      <td>4.7</td>
      <td>4.6</td>
      <td>4.7</td>
      <td>7.5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>