table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  margin-left: 5px;
  font-size: 0.9em;
}

h1 {
     white-space: nowrap;
 }

.row-centered {
    text-align: center;
    vertical-align: text-bottom;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    vertical-align: text-bottom;
    /* inline-block space fix */
    margin-right:-4px;
}


.input {
  display: inline-block;
  float: right;
}